body {
  background-color: #bdc3c7;
  margin: 0;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.btn-green-large {
  padding: 14px 67px;
}

.btn-green-small {
  padding: 7px 40px;
  font-size: 10px;
}
@media (max-width: 650px) {
  .btn-green-small {
    padding: 14px 50px;
  }
}

.btn-white-wrapper {
  text-align: center;
  margin-bottom: 133px;
}
@media (max-width: 600px) {
  .btn-white-wrapper {
    margin-bottom: 70px;
  }
}

.btn-white {
  padding: 9px 81px;
  display: inline-block;
  color: #9099a3;
  border-radius: 6px;
  border: 2px solid #989a9a;
  text-decoration: none;
  font-size: 13px;
}

.copy {
  font-size: 12px;
  font-weight: 300;
  float: right;
  margin-top: 4px;
}

.contact-form-wrapper {
  position: relative;
  overflow: hidden;
}
@media (max-width: 750px) {
  .contact-form-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contact-form {
  float: left;
  width: 422px;
}
@media (max-width: 750px) {
  .contact-form {
    width: 100%;
    text-align: center;
  }
}

.form-input {
  margin-bottom: 16px;
}

.form-textarea {
  height: 230px;
  resize: none;
  margin-bottom: 13px;
}

.form-btn {
  border-radius: 4px;
  background-color: #95a5a6;
  color: white;
  font: bold 9px "Lato", sans-serif;
  padding: 5px 27px;
  border: 1px solid #95a5a6;
}
@media (max-width: 600px) {
  .form-btn {
    padding: 10px 35px;
  }
}

.gallery {
  overflow: hidden;
  margin-left: -11px;
  margin-right: -11px;
  margin-bottom: 47px;
}
@media (max-width: 600px) {
  .gallery {
    text-align: center;
    margin-bottom: 25px;
  }
}

.gallery-item {
  float: left;
  width: 50%;
  padding: 11px;
  position: relative;
}
.gallery-item:hover .gallery-item-overlay {
  opacity: 1;
  visibility: visible;
}
.gallery-item img {
  vertical-align: top;
  max-width: 100%;
}
.gallery-item .gallery-item-overlay {
  background-color: rgba(149, 165, 166, 0.9);
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}
@media (max-width: 650px) {
  .gallery-item {
    float: none;
    width: 100%;
  }
}

.gallery-item-cnt {
  position: relative;
}

.gallery-item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f9f9f9;
}
.gallery-item-text p {
  margin: 0;
  font-size: 10px;
}
.gallery-item-text h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 13px;
}
.gallery-item-text h4::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #f9f9f9;
  bottom: 0;
  right: 18px;
  left: 18px;
}

.round-img {
  margin-left: 23px;
  margin-right: 23px;
  overflow: hidden;
}
@media (max-width: 450px) {
  .round-img {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 650px) {
  .round-img {
    margin-left: 0;
    margin-right: 0;
  }
}

.round-img-item {
  float: left;
  width: 25%;
  margin-bottom: 70px;
  padding: 12px;
}
.round-img-item img {
  text-align: center;
  max-width: 100%;
}
.round-img-item:hover .round-img-item-overlay {
  visibility: visible;
}
@media (max-width: 450px) {
  .round-img-item {
    margin-bottom: 0;
    padding: 0;
    width: 50%;
  }
}
@media (max-width: 650px) {
  .round-img-item {
    padding: 5px;
    margin-bottom: 30px;
  }
}

.round-img-item-overlay {
  position: absolute;
  background-color: rgba(149, 165, 166, 0.8);
  border: 8px solid;
  border-radius: 50%;
  border-color: rgba(39, 174, 97, 0.8);
  top: 0px;
  bottom: 3px;
  left: 0px;
  right: 0px;
  visibility: hidden;
  transition: opacity 1s ease;
  background: rgba(166, 180, 181, 0.9);
}

.round-img-cnt {
  position: relative;
}

.logo {
  width: 194px;
  height: 40px;
  float: left;
}
@media (max-width: 600px) {
  .logo {
    float: none;
    margin: auto;
  }
}

.map {
  text-align: center;
  margin-bottom: 43px;
}

.polyline {
  text-align: center;
}

.polyline__main {
  margin-bottom: 15px;
}

.social {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  float: left;
  margin-top: 0;
}
.social li {
  float: left;
}
.social a {
  color: currentColor;
  font-size: 9px;
  text-decoration: none;
}
.social .fab {
  vertical-align: middle;
  margin-right: 10px;
}
.social i {
  margin-left: 10px;
}

.footer {
  background-color: #444444;
  color: #e6f0e9;
  overflow: hidden;
  padding: 32px 60px 30px 50px;
}

@media (max-width: 600px) {
  .copy {
    float: none;
    text-align: center;
  }

  .social {
    float: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.header span {
  font-weight: 300;
}
@media (max-width: 600px) {
  .header {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__other-page {
  padding: 20px 60px 62px 60px;
}
.header__other-page h1 {
  font-size: 30px;
}
@media (max-width: 600px) {
  .header__other-page {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-top__other-page {
  overflow: hidden;
  margin-bottom: 128px;
}
@media (max-width: 600px) {
  .header-top__other-page {
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .header-top__other-page {
    margin-bottom: 40px;
  }
}

.site-nav {
  float: right;
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.site-nav li {
  float: left;
  margin-left: 19px;
}
@media (max-width: 600px) {
  .site-nav li {
    margin: 0;
  }
}
.site-nav a {
  text-decoration: none;
  color: currentColor;
  text-transform: capitalize;
  font-size: 14px;
}
.site-nav a:hover {
  color: #000000;
}
@media (max-width: 600px) {
  .site-nav {
    float: none;
    display: flex;
    justify-content: space-around;
  }
}

.wrapper {
  max-width: 942px;
  margin-left: auto;
  margin-right: auto;
}

.main__main {
  padding: 80px 60px 65px 60px;
}
@media (max-width: 600px) {
  .main__main {
    padding: 20px;
  }
}

.header__main {
  padding: 20px 60px 80px 60px;
}
.header__main h1 {
  font-size: 40px;
  margin-bottom: 58px;
}

.header-top__main {
  overflow: hidden;
  margin-bottom: 117px;
}
@media (max-width: 600px) {
  .header-top__main {
    margin-bottom: 20px;
  }
}

.ps-version {
  text-align: center;
  font-size: 12px;
  margin: 0;
  margin-bottom: 80px;
}

.work {
  color: #7f8c8d;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  margin: 0;
  margin-bottom: 15px;
}

.worked-with {
  color: #7f8c8d;
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 44px;
}
@media (max-width: 600px) {
  .worked-with {
    margin-bottom: 30px;
  }
}

.partners {
  overflow: hidden;
}
@media (max-width: 600px) {
  .partners {
    text-align: center;
  }
}

.partners-item {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.partners-item img {
  vertical-align: top;
}
@media (max-width: 600px) {
  .partners-item img {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .partners-item {
    float: none;
    width: 100%;
  }
}

.main__contact {
  padding: 70px 160px;
}
@media (max-width: 600px) {
  .main__contact {
    padding: 20px;
  }
}
@media (max-width: 890px) {
  .main__contact {
    padding: 70px 90px;
  }
}

.contact-text {
  font-size: 16px;
  margin: 0;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 68px;
}

.contact-details {
  font-size: 14px;
  font-weight: lighter;
  float: left;
  margin-left: 19px;
  color: #444;
  margin-top: -4px;
}
.contact-details h4 {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
  font-family: "Lato", sans-serif;
}
@media (max-width: 750px) {
  .contact-details {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.main__about {
  padding: 88px 123px 65px 123px;
}
@media (max-width: 650px) {
  .main__about {
    padding: 20px;
  }
}
@media (max-width: 850px) {
  .main__about {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.polyline__about {
  margin-bottom: 25px;
}

.am-s__about {
  margin-bottom: 32px;
}

.about-text {
  font-size: 14px;
  margin: 0;
  margin-left: 34px;
  margin-right: 34px;
  font-weight: lighter;
  color: #444;
  text-align: justify;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .about-text {
    font-size: 16px;
  }
}
@media (max-width: 650px) {
  .about-text {
    margin-bottom: 30px;
  }
}

.about-h3 {
  font-size: 25px;
  color: #444;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 650px) {
  .about-h3 {
    margin-bottom: 20px;
  }
}

.main__portfolio {
  padding: 60px 150px 52px 150px;
}
@media (max-width: 600px) {
  .main__portfolio {
    padding: 20px;
  }
}
@media (max-width: 890px) {
  .main__portfolio {
    padding: 60px 70px 52px 70px;
  }
}

.portfolio-h2 {
  margin: 0;
  color: #444;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
}

.portfolio {
  overflow: hidden;
}
@media (max-width: 600px) {
  .portfolio {
    text-align: center;
  }
}

.main__main, .main__contact, .main__about, .main__portfolio {
  background-color: #ecf0f1;
}

.header__other-page, .header__main {
  background-color: #27ae60;
  overflow: hidden;
  color: #e6f0e9;
  text-align: center;
}

.header__other-page h1, .header__main h1 {
  font-weight: normal;
}

.am-s__main, .am-s__about {
  font-weight: 400;
  size: 25px;
  text-align: center;
}

.btn-green-large, .btn-green-small {
  background-color: #2ecc71;
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.form-input, .form-textarea {
  width: 100%;
  background-color: #ecf0f1;
  font: lighter 16px "Lato", sans-serif;
  padding: 12px;
  border: 1px solid #aaa;
}

/*# sourceMappingURL=main.css.map */
